<h1>Welcome to my Vue.js app!</h1>
<div id="app">
  <p>{{ message }}</p>
  <h5>Your name is {{ name }}</h5>
  <input type="text" v-model="name">
  <h2>Reviews</h2>
  <ul>
    <li v-for="review in reviews" v-on:click="deleteReview(review)" v-if="isPositive(review)">{{ review }}</li>
  </ul>
  <h4>Add a review!</h4>
  <input type="text" v-model="newReview">
  <button v-on:click="addReview()">Add Review</button>
</div>
